.lines_background{
  height: 100vh;
  background-image: url("../images/background_about.png");
  background-repeat: no-repeat;
  background-size: 100vw;

}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.about h1{
  font-size: 3rem;
  margin: 5% auto;
  text-transform: uppercase;
}

.cont_about{
  display: flex;
  align-items: bottom;
  width:55%;
  justify-content: space-between;

}
.text{
  width:45%;
  padding-bottom: 5%;
  border-bottom: 8px solid  #EF376A;
}

.text h3{
  text-transform: uppercase;
}
.text p{
  font-weight: 600;
  margin-top: 6%;
}
.logo{
  height: 10vh;
  margin-bottom: 6%;
  cursor: pointer;
}
/* ------------------ MOBILE ------------------ */
@media screen and (max-width: 670px) {

  .cont_about{
    display: block;
    width:90%;
  }
  .text{
    width:60%;
    margin-right: 0;
  }
  .lines_background{
    height: 190vh;
  }
}
