.lines_background{
  height: auto;
  background-image: url("../images/background_index_past.png");
  background-repeat: no-repeat;
  background-size: 100vw;
}
.faqs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 10vh;
}

.faqs h1{
  font-size: 3rem;
  margin: 5% auto;
  text-transform: uppercase;
}
#mobile{
  display: none;
}
.cont{
  padding: 2%;
  background-color: #1E1A30;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  width:50%;
  margin-bottom: 2%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.answer{
  display: none;
}
.cont p{
  font-weight: 600;
}

.question img{
  z-index: 2;
  cursor: pointer;
}
.question{
  display: flex;
  justify-content:  space-between;
}
.question p{
  font-family: Hind;
}
.answer p{
  font-weight: Hind-light;
  padding-top: 1%;
}
/* ------------------ MOBILE ------------------ */
@media screen and (max-width: 670px) {
  #question img{
    z-index: 0;
  }
  .lines_background{
    height: auto;
    background-image: url("../images/background_past_mobile.png");
  }

  .faqs{
    padding-top: 12vh;
    height: auto;
  }
  #pc{
    display: none;
    margin: 0;
  }
  #mobile{
    display: block;
    font-size: 2.8em;
    text-align: left;
  }
  .faqs h1{
    margin: 5% auto;
      width:70%;
  }
  .cont{
    width:70%;
    margin-bottom: 4%;
    padding:4%;
  }
  .cont p{
    width:80%;
    font-size: 0.9rem;

  }




}
