
/* TIGRE E TEXTO*/
.hero{
  height:90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1{
  font-size: 4rem;
  cursor: pointer;
}
.what , .memories {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 .outline {
position: relative;
}

#shift{
  width:25%;
  bottom:-5%;
  left:-20%;
}
#appens{
  width: 40%;
  bottom:-5%;
  left:-13%;

}
#vintevinte{
  width:25%;
  bottom:-10%;
  left:-20%;
}
.content-text{
  margin-top: 5%;
  width:45vw;

}
.content-text p{
  font-weight: 600;
}
.what h1, .memories h1, .how h1, .newsletter h1{
  font-size: 3rem;
}

.how, .newsletter{
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.content-text input{
  background: #352E33 80%;
  border: 0;
  border-radius: 24px;
  width:23vw;
  height: 7vh;
}
button:focus { outline: none; }
button{
  border: none;
  background-image: url("images/button.png");
  background-repeat: no-repeat;
  width:243px;
  height: 64px;
  border-radius: 24px;
  color:white;
  font-size: 1.2em;
}
