.lines_background{
  height: 270vh;
  background-image: url("../images/background_index_past.png");
  background-repeat: no-repeat;
  background-size: 100vw;
}
.past, .partners{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.past h1, .partners h1{
  font-size: 3rem;
  margin: 5% auto;
  text-transform: uppercase;
}
.year{
  display: flex;
  align-items: center;
  width:55%;
}
.top{
  justify-content: space-between;
}
.bottom{
  margin-top: 2%;
  justify-content: space-around;
}
.year a{
  color:white;
  background-color:#1E1A30;
  padding: 3% 5%;
  font-size: 2em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-family: Poppins-bold, sans-serif;
}
.year a:hover{
  background-color: #D0C6FF;
  color:#1E1A30;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transition: 0.3s;
}

.partners_text{
  width:40%;
  text-align: center;
  font-weight: 600;
}
.partner-section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 4rem 0;
  width:60%;
  margin-bottom: 5%;
}
.partner-section a{
  background-color:white;
  width: 12rem;
  height: 7rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: 0.9s;
}
.partner-section img::before{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* ------------------ MOBILE ------------------ */
@media screen and (max-width: 670px) {
.past h1, .partners h1{
  font-size: 2.4rem;
}
.partner-section {
  margin: 2rem 0;
}
.partner-section , .partners_text{
  width:70%;
  text-align: left;
}
.partner-section a{
  background-color:white;
  width: 3.5rem;
  height: 3rem;
  border-radius: 9px;
  margin-bottom: 0.7rem;
}
.year a{
  font-size: 1.2rem;
}
.lines_background{
  height: 170vh;
}
